{% extends 'base.html' %}
{% block content %}


<h2 class="mt-4" >dashboard</h2>

<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary text-white p-4" >
            <h5>total products</h5>
            <h3> {{ total_products }} </h3>
        </div>
    </div>

    <div class="col-md-3" >
        <div class="card bg-success text-white p-4" >
            <h5>active products </h5>
            <h3> {{ active_products }} </h3>
        </div>
    </div>

    <div class="col-md-3" >
        <div class="card bg-danger text-white  p-4" >
            <h5>inactive products</h5>
            <h3> {{ inactive_products }} </h3>
        </div>
    </div>

    <div class="col-md-3" >
        <div class="card bg-dark text-white p-4" >
            <h5>total category</h5>
            <h3> {{ total_category }} </h3>
        </div>
    </div>
</div>


<div class="mt-4 p-3" style="height:300px;">
    <h5>product status</h5>
    <canvas id="statusChart" ></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
var activeCount = Number("{{ active_products }}");
var inactiveCount = Number("{{ inactive_products }}");
var ctx=document.getElementById('statusChart').getContext('2d');

var chart= new Chart (ctx,{
    type:'pie',
    data:{
        labels:['Active','Inactive'],
        datasets:[{
            data:[activeCount,inactiveCount],
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false
    }
})


</script>


{% endblock %}

